Architecture: windows_all
Built-Using: nipkg
Description: power-statistics
Maintainer: NIAE <armen.kirakosyan@ni.com>
Package: power-statistics
Section: Application Software
Version: 1.0.0.9
XB-DisplayName: PowerStatistics
XB-Plugin: file
XB-StoreProduct: no
XB-UserVisible: yes
XB-VisibleForRuntimeDeployment: no