Architecture: windows_all
Built-Using: nipkg
Description: mycompany-myproduct-1
Maintainer: NIAE <armen.kirakosyan@ni.com>
Package: mycompany-myproduct-1
Section: Application Software
Version: 1.0.0.2
XB-DisplayName: GeneratedPower
XB-Plugin: file
XB-StoreProduct: no
XB-UserVisible: yes
XB-VisibleForRuntimeDeployment: no